<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>
<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>Variable</th>
        <th>Pipe</th>
        <th>Salida</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{nombre2}}</td>
        <td>capitalizado</td>
        <td>{{nombre2 | capitalizado}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>uppercase</td>
        <td>{{nombre | uppercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>lowercase</td>
        <td>{{nombre | lowercase}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>slice: 3</td>
        <td>{{nombre | slice:3}}</td>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>slice: 0:3</td>
        <td>{{nombre | slice:0:3}}</td>
      </tr>
      <tr>
        <td>{{arreglo}}</td>
        <td>slice: 1:5</td>
        <td>{{arreglo | slice:0:3}}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td>number: '3.0-2'</td>
        <td>{{PI | number:'3.0-2'}}</td>
      </tr>
      <tr>
        <td>{{PI}}</td>
        <td>number:'.0-2'</td>
        <td>{{PI | number:'.0-2'}}</td>
      </tr>
      <tr>
        <td>{{Porcentaje}}</td>
        <td>percent</td>
        <td>{{Porcentaje | percent}}</td>
      </tr>
      <tr>
        <td>{{Porcentaje}}</td>
        <td>number:'2.2-2'</td>
        <td>{{Porcentaje | percent:'2.2-2'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency</td>
        <td>{{salario | currency}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency: 'EUR'</td>
        <td>{{salario | currency: 'EUR'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>currency: 'CAD':'symbol':'.0-0'</td>
        <td>{{salario | currency: 'CAD':'symbol':'.0-0'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>Este es inventado: currency: 'CORDϐ':'symbol':'.0-2'</td>
        <td>{{salario | currency: 'CORDϐ':'symbol':'.0-2'}}</td>
      </tr>
      <tr>
        <td>{{salario}}</td>
        <td>Este es inventado: currency: 'CORDϐ':'symbol':'.0-2'</td>
        <td>{{salario | currency: 'CORDϐ':'symbol':'.0-2'}}</td>
      </tr>
      <tr>
        <td>{{valorPromesa}}</td>
        <td>async</td>
        <td>{{valorPromesa | async}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date</td>
        <td>{{fecha | date}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date: 'medium'</td>
        <td>{{fecha | date: 'medium'}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date: 'short'</td>
        <td>{{fecha | date: 'short'}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date: 'MMMM dd YYYY'</td>
        <td>{{fecha | date: 'MMMM dd YYYY'}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date: 'MMMM - dd':'':'en' </td>
        <td>{{fecha | date: 'MMMM - dd':'':'en'}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date: 'MMMM - dd':'':'fr' </td>
        <td>{{fecha | date: 'MMMM - dd':'':'fr'}}</td>
      </tr>
      <tr>
        <td>{{fecha}}</td>
        <td>date: 'MMMM - dd':'':idoma </td>
        <td>{{fecha | date: 'MMMM - dd':'':idioma}}</td>
        <br>
        <button (click)="idioma='es-gt'" type="button"  class="btn btn-outline-primary">Español</button>
        <button (click)="idioma='en'" class="mr-1 btn btn-outline-secondary">Inglés</button>
        <button (click)="idioma='fr'" class="mr-1 btn btn-outline-success">Frances</button>
      </tr>
      <tr>
        <td>{{nombre}}</td>
        <td>contraseña: {{activar}}
        <br>
          <button (click)="activar=!activar" class="btn btn-outline-primary">
            Activar/Desactivar
          </button>
        </td>
        <td>{{nombre | passwordSecure:activar}}</td>

      </tr>
      </tbody>
    </table>

    <h5>Slide</h5>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
    </ul>
    <h3>JSON Sin Pipe</h3>
    <hr>
    <div class="row mb-1">
      <div class="col">
        {{heroe}}
      </div>
    </div>
    <h5>JSON con Pipe</h5>
    <hr>
    <div class="row mb-1">
      <div class="col">
        <pre>
          {{heroe | json}}
        </pre>

      </div>
    </div>
  </div>
</div>
<h3 class="mt-4">
  <div class="row">
    <div class="col">
      <iframe width="560" height="315" [src]="videoUrl | domseguro" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
      </iframe>
    </div>
  </div>
</h3>
